body {
background-color:white;
}

p {
    text-align: center;
    color: rgb(53, 143, 33);

}

a:link {
    color: red;
}

a:hover {
    color: violet;
}

a:visited{
    color:yellow;
}

mark {
    color: rgb(25, 46, 207);
    background-color: green;
}

button {
    background-color: rgb(39, 185, 196);
}